In [1]:
import random
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
PATH = 'data/'
course = pd.read_csv(PATH+'course.csv')
task_res = pd.read_csv(PATH+'task_results.csv')
task = pd.read_csv(PATH+'task.csv')
test = pd.read_csv(PATH+'test.csv')
train = pd.read_csv(PATH+'train.csv')

In [3]:
course

,courseId,createdDate,updatedDate,name,year,primarySkillId,primarySkillName,locationName,alias,completed,description,descriptionUrl,planned,courseStartDate,courseEndDate,fullName,registrationEndDate,inviteOnly
0,16,2020-01-27 06:15:21.813898,2020-06-02 09:49:08.084615,RSS React 2020,NaN,javascript,JavaScript,NaN,react-2020-Q1,t,Курс по React/Redux,NaN,f,2020-02-05 06:12:15.345+00,2020-03-18 06:12:18.391+00,RSS React 2020,2020-02-09 06:12:31.757+00,t
1,23,2020-02-25 09:28:08.842897,2020-07-28 06:07:15.142387,TEST COURSE,NaN,javascript,JavaScript,NaN,test-course,f,TEST COURSE,NaN,f,2020-02-25 09:28:00.105+00,2020-08-06 09:28:01.698+00,TEST COURSE,NaN,t
2,18,2020-02-11 08:40:16.050523,2020-09-10 18:30:58.028305,iOS 2020,NaN,ios-obj-c,iOS Objective-C,NaN,ios-2020,f,iOS 2020 course,NaN,f,2020-02-17 08:39:56.164+00,2020-06-01 08:40:00.109+00,Rolling Scopes iOS 2020,2020-03-08 09:33:55.611+00,f
3,9,2019-05-24 15:20:38.564615,2019-09-09 16:14:35.099569,RS 2018 Q1,2018.0,javascript,JavaScript,Minsk,rs-2018-q1,t,2018,NaN,f,2017-12-31 21:00:00.01+00,2018-06-30 21:00:00.01+00,Rolling Scopes School 2018 Q1,NaN,f
4,6,2019-05-22 11:56:03.343815,2019-09-09 16:14:58.34156,RS 2016 Q3,2016.0,javascript,JavaScript,Minsk,rs-2016-q3,t,RS 2016 Q3,NaN,f,2016-09-01 19:48:14.839+00,2016-12-31 19:48:14.839+00,Rolling Scopes School 2016 Q3,NaN,f
5,5,2019-05-15 14:25:29.875928,2019-09-09 16:15:05.821534,RS 2015 Q1,2015.0,javascript,JavaScript,Minsk,rs-2015-q1,t,RS 2015 Q1,NaN,f,2015-01-01 19:48:45.209+00,2015-06-30 19:48:45.209+00,Rolling Scopes School 2015 Q1,NaN,f
6,4,2019-05-15 14:25:00.254528,2019-09-09 16:15:29.980035,RS 2016 Q1,2016.0,javascript,JavaScript,Minsk,rs-2016-q1,t,RS 2016 Q1,NaN,f,2016-01-01 19:49:05.026+00,2016-06-30 19:49:05.026+00,Rolling Scopes School 2016 Q1,NaN,f
7,2,2019-04-17 11:41:21.396686,2019-09-09 16:15:23.708058,RS 2018 Q3,2018.0,javascript,JavaScript,Minsk,rs-2018-q3,t,RS 2018 Q3,NaN,f,2018-09-01 19:47:14.081+00,2018-12-31 19:47:14.081+00,Rolling Scopes School 2018 Q3,NaN,f
8,1,2019-04-17 11:41:21.396686,2019-09-09 16:15:18.068023,RS 2019 Q1,2019.0,javascript,JavaScript,Minsk,rs-2019-q1,t,Rolling Scopes School 2018 Q1,https://github.com/rolling-scopes-school/lectures,f,2019-01-01 00:49:13.461+00,2019-08-25 00:49:13.461+00,Rolling Scopes School 2019 Q1,NaN,f
9,10,2019-07-08 12:55:53.666184,2019-10-03 15:44:20.448036,RS-UZ 2019,2019.0,javascript,JavaScript,Tashkent,rs-uz-2019-q3,t,Uzbekistan JS,NaN,f,2019-07-01 00:44:52.891+00,2019-09-30 00:44:52.891+00,Rolling Scopes School 2019: Uzbekistan,NaN,f
10,19,2020-02-11 08:40:58.387803,2020-09-10 18:31:03.311121,Android 2020,NaN,android-kotlin,Android Kotlin,NaN,android-2020,f,Android 2020,NaN,f,2020-02-17 08:40:50.115+00,2020-06-01 08:40:51.765+00,Rolling Scopes Android 2020,2020-03-08 09:34:23.882+00,f
11,12,2019-08-29 07:26:02.025829,2019-10-25 17:20:30.9813,RS-ST 2019 Q1,NaN,javascript,JavaScript,NaN,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
12,14,2019-10-24 10:00:46.296231,2020-02-07 08:51:36.59706,ST 2019 Q3,NaN,javascript,JavaScript,NaN,st-2019-q3,t,Short Track 2019Q3,NaN,f,2019-10-28 09:59:47.095+00,2020-01-31 09:59:47.095+00,Rolling Scopes School: Short Track 2019 Q3,2019-10-23 10:00:06.576+00,t
13,11,2019-08-27 07:36:13.565873,2020-03-13 15:39:41.477995,RS 2019 Q3,NaN,javascript,JavaScript,NaN,rs-2019-q3,t,RS 2019 Q3,NaN,f,2019-09-09 07:35:20.981+00,2020-01-31 07:35:20.981+00,Rolling Scopes School 2019 Q3,NaN,f
14,17,2020-01-27 12:42:50.862147,2020-04-22 05:57:56.400589,RSS Angular 2020 Q1,NaN,javascript,JavaScript,NaN,angular-2020-Q1,t,Курс по Angular,NaN,f,2020-02-05 12:42:29.294+00,2020-03-18 12:42:31.38+00,RSS Angular 2020 Q1,2020-02-09 12:42:36.062+00,t
15,27,2020-02-17 07:47:16.72,2020-08-17 07:10:17.024397,JS Fundamentals,NaN,javascript,JavaScript,NaN,js-fundamentals,f,JS Fundamentals,NaN,f,2020-05-01 09:06:34.293+00,2020-07-31 09:06:39.744+00,JS Fundamentals,NaN,t
16,20,2020-02-17 07:47:16.720205,2020-03-23 11:31:46.894703,The Rolling Scopes Poland,NaN,javascript,JavaScript,NaN,rss-pl-2020-q1,f,Javascript/Front-end Mentoring Program in Pola...,NaN,f,2020-03-05 07:46:38.048+00,2020-07-31 06:46:42.768+00,JS/FE Mentoring Program in Poland,2020-03-22 07:47:02.88+00,t
17,13,2019-10-21 08:05:31.068833,2020-08-24 11:56:19.468768,RS 2020 Q1,NaN,javascript,JavaScript,NaN,rs-2020-q1,t,Javascript / Frontend Курс.\r\nВводное занятие...,NaN,f,2020-02-02 09:01:56.398+00,2020-07-31 08:01:56.398+00,Rolling Scopes School 2020 Q1: JavaScript/Fron...,2020-03-31 08:40:46.24+00,f
18,21,2020-02-18 08:35:17.347051,2020-07-27 09:04:06.867118,NodeJS 2020 Q1,NaN,nodejs,Node.js,NaN,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t
19,29,2020-01-27 06:15:21.814,2020-07-30 07:08:19.192459,RSS React 2020 Q3,NaN,javascript,JavaScript,NaN,react-2020-Q3,f,Курс по React/Redux,NaN,f,2020-07-27 11:54:03.727+00,2020-09-16 11:54:04.46+00,RSS React 2020 Q3,2020-08-08 11:54:10.218+00,f
20,28,2020-01-27 12:42:50.862,2020-09-30 10:19:17.632882,RSS Angular 2020 Q3,NaN,javascript,JavaScript,NaN,angular-2020-Q3,t,Курс по Angular,NaN,f,2020-07-27 11:49:08.068+00,2020-09-16 11:49:24.921+00,RSS Angular 2020 Q3,2020-08-08 11:49:30.256+00,f

In [4]:
task_res

,createdDate,updatedDate,score,comment,studentId,courseTaskId,historicalScores,juryScores,checkerId,anonymous
0,2019-09-19 18:36:46.232791,2019-09-19 18:36:46.232791,100,NaN,7266,300,"[{""authorId"":0,""score"":100,""dateTime"":15689182...",[],NaN,NaN
1,2019-10-02 12:48:27.977059,2019-10-21 09:58:59.674519,41,NaN,7929,313,"[{""authorId"":0,""score"":38,""dateTime"":157002050...",[],NaN,NaN
2,2019-10-08 15:05:43.777805,2019-10-08 15:05:43.777805,100,NaN,6134,308,"[{""authorId"":0,""score"":100,""dateTime"":15705471...",[],NaN,NaN
3,2019-10-11 15:03:28.245927,2019-10-11 15:03:28.245927,100,NaN,5882,305,"[{""authorId"":0,""score"":100,""dateTime"":15708062...",[],NaN,NaN
4,2019-10-12 16:31:57.699719,2019-10-12 16:31:57.699719,100,NaN,8247,305,"[{""authorId"":0,""score"":100,""dateTime"":15708979...",[],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
94257,2020-08-02 14:24:57.263474,2020-08-02 14:24:57.263474,0,404 Error instead of application,14467,509,"[{""score"":0,""comment"":""404 Error instead of ap...",NaN,14506.0,t
94258,2020-08-04 08:20:15.568018,2020-08-04 08:20:15.568018,68,Частично выполненные пункты:\n1) Есть переключ...,14457,509,"[{""score"":68,""comment"":""Частично выполненные п...",NaN,14492.0,t
94259,2020-08-04 08:24:03.714964,2020-08-04 08:24:03.714964,75,Выполненные пункты:\n1) Реализована генерация ...,14495,509,"[{""score"":75,""comment"":""Выполненные пункты:\n1...",NaN,14492.0,t
94260,2020-09-13 06:43:40.874573,2020-09-13 06:43:40.874573,170,Отзыв по пунктам ТЗ:\nНе выполненные/не засчит...,14444,483,"[{""score"":170,""comment"":""Отзыв по пунктам ТЗ:\...",NaN,14495.0,t
94261,2020-09-13 19:45:58.869557,2020-09-13 19:47:19.578036,158,"\n1. Basic scope:\n\nUI, layout :\n- desktop, ...",14506,483,"[{""score"":158,""comment"":""1. Basic scope:\n\nUI...",NaN,14459.0,f

In [5]:
task

,taskId,createdDate,updatedDate,name,descriptionUrl,description,verification,githubPrRequired,useJury,allowStudentArtefacts,...,alias,completed,descriptionCourse,descriptionUrlCourse,planned,courseStartDate,courseEndDate,fullName,registrationEndDate,inviteOnly
0,413,2019-08-29 10:57:34.732592,2019-11-11 18:19:01.013044,ST JS Test,http://learn.javascript.ru/,NaN,manual,f,f,f,...,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
1,253,2019-05-17 13:02:30.233767,2019-05-17 13:02:30.233767,tdd,NaN,NaN,manual,NaN,f,f,...,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
2,410,2019-08-29 09:41:00.400898,2019-08-29 10:08:08.993969,ST Chat,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,...,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
3,407,2019-08-29 09:32:17.606001,2019-08-29 10:08:44.864627,ST Custom Lodash,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,...,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
4,230,2019-05-17 13:01:38.681206,2019-08-29 10:10:10.985834,ST JS Assignments,https://github.com/rolling-scopes-school/RS-Sh...,NaN,manual,t,f,f,...,rs-st-2019-q1,t,RS Short Track 2019 Q1,NaN,f,2019-04-08 07:23:45.643+00,2019-07-10 07:23:45.643+00,Rolling Scopes School 2019 Q1: Short Track,NaN,t
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,489,2020-03-26 10:35:21.765085,2020-03-26 10:35:21.765085,Caesar cipher CLI tool,https://github.com/rolling-scopes-school/nodej...,NaN,manual,f,f,f,...,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t
272,492,2020-03-31 09:33:53.140629,2020-03-31 09:33:53.140629,Express REST service,https://github.com/rolling-scopes-school/nodej...,NaN,manual,f,f,f,...,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t
273,504,2020-04-14 05:44:38.302281,2020-04-14 05:44:38.302281,Database MongoDB,https://github.com/rolling-scopes-school/nodej...,NaN,manual,f,f,f,...,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t
274,505,2020-04-20 17:36:43.155586,2020-04-20 17:36:43.155586,Authentication and JWT,https://github.com/rolling-scopes-school/nodej...,NaN,manual,f,f,f,...,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t
275,503,2020-04-10 18:12:45.707666,2020-04-10 18:12:45.707666,Logging & Error Handling,https://github.com/rolling-scopes-school/nodej...,NaN,manual,f,f,f,...,nodejs-2020-q1,t,NodeJS 2020 Q1\t,NaN,f,2020-03-23 08:34:47.525+00,2020-04-30 07:34:53.383+00,Rolling Scopes NodeJS 2020 Q1\t,2020-03-29 07:35:00.935+00,t

In [6]:
test

,studentId,createdDate,updatedDate,isExpelled,expellingReason,courseCompleted,preferedMentorGithubId,readyFullTime,courseId,userId,...,hiredById,hiredByName,isFailed,startDate,endDate,repository,repositoryLastActivityDate,idUser,educationHistory,englishLevel
0,11450,2020-02-05 09:18:15.61238,2020-04-01 13:30:00.599077,f,NaN,f,NaN,NaN,16,4546,...,NaN,NaN,f,2020-02-05 09:18:15.609+00,NaN,NaN,NaN,4546,[],NaN
1,7855,2019-09-11 18:05:14.135267,2019-11-20 22:00:13.036321,f,NaN,f,NaN,NaN,11,6352,...,NaN,NaN,f,2019-09-09 07:35:20.981+00,NaN,NaN,NaN,6352,[],NaN
2,12753,2020-02-17 16:31:47.104981,2020-10-13 21:00:01.563666,f,NaN,f,NaN,NaN,19,10322,...,NaN,NaN,f,2020-02-17 16:31:47.103+00,NaN,NaN,NaN,10322,[],NaN
3,14717,2020-07-18 11:45:19.46207,2020-09-29 21:00:15.918095,f,NaN,f,NaN,NaN,28,12002,...,NaN,NaN,f,2020-07-18 11:45:19.459+00,NaN,NaN,NaN,12002,[],a2
4,7455,2019-09-10 14:01:26.166087,2020-01-20 21:20:12.461623,f,NaN,f,NaN,NaN,11,6008,...,NaN,NaN,f,2019-09-09 07:35:20.981+00,NaN,https://github.com/rolling-scopes-school/094ab...,NaN,6008,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2986,13278,2020-02-18 19:54:33.085152,2020-10-13 21:00:01.563666,f,NaN,f,NaN,NaN,19,10790,...,NaN,NaN,f,2020-02-18 19:54:33.082+00,NaN,NaN,NaN,10790,[],NaN
2987,14984,2020-07-27 09:20:07.075326,2020-10-13 21:00:10.111121,f,NaN,f,NaN,NaN,29,12064,...,NaN,NaN,f,2020-07-27 09:20:07.072+00,NaN,NaN,NaN,12064,[],a0
2988,14557,2020-07-08 16:27:18.122838,2020-10-13 21:00:10.111121,f,NaN,f,NaN,NaN,29,8291,...,NaN,NaN,f,2020-07-08 16:27:18.12+00,NaN,NaN,NaN,8291,[],b2+
2989,15249,2020-07-27 15:59:56.9177,2020-10-13 21:00:10.111121,f,NaN,f,NaN,NaN,29,12202,...,NaN,NaN,f,2020-07-27 15:59:56.915+00,NaN,NaN,NaN,12202,[],NaN
2990,15012,2020-07-27 09:38:27.175302,2020-10-13 21:00:10.111121,f,NaN,f,NaN,NaN,29,12083,...,NaN,NaN,f,2020-07-27 09:38:27.173+00,NaN,NaN,NaN,12083,[],c2

In [7]:
train

,studentId,createdDate,updatedDate,isExpelled,expellingReason,courseCompleted,isTopPerformer,preferedMentorGithubId,readyFullTime,courseId,...,hiredById,hiredByName,isFailed,startDate,endDate,repository,repositoryLastActivityDate,idUser,educationHistory,englishLevel
0,5740,2019-09-06 17:30:17.681556,2019-12-03 16:24:58.705742,t,No activity in private repository,f,True,NaN,NaN,11,...,NaN,NaN,f,2019-09-09 07:35:20.981+00,2019-12-04 09:17:02.998689+00,https://github.com/rolling-scopes-school/1b3f6...,NaN,4467,[],NaN
1,6956,2019-09-09 18:24:04.90096,2019-11-20 22:00:13.036321,t,No activity in private repository,f,True,NaN,NaN,11,...,NaN,NaN,f,2019-09-09 07:35:20.981+00,2019-12-04 09:17:02.998689+00,https://github.com/rolling-scopes-school/76c0e...,NaN,5580,[],NaN
2,11616,2020-02-05 12:39:48.166948,2020-02-05 12:39:48.166948,f,NaN,f,False,NaN,NaN,16,...,NaN,NaN,f,2020-02-05 12:39:48.164+00,NaN,NaN,NaN,9557,[],NaN
3,11773,2020-02-05 17:16:46.874484,2020-02-05 17:16:46.874484,f,NaN,f,False,NaN,NaN,16,...,NaN,NaN,f,2020-02-05 17:16:46.872+00,NaN,NaN,NaN,9627,"[{""graduationYear"":null,""faculty"":null,""univer...",b1
4,6724,2019-09-09 17:06:56.967084,2020-01-19 16:55:12.069984,t,Failed Stage 2,f,True,NaN,NaN,11,...,NaN,NaN,f,2019-09-09 07:35:20.981+00,1970-01-01 00:00:00+00,https://github.com/rolling-scopes-school/7fb23...,NaN,5390,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10466,13213,2020-02-18 09:28:28.263282,2020-09-28 21:00:00.900783,f,NaN,f,True,NaN,NaN,19,...,NaN,NaN,f,2020-02-18 09:28:28.259+00,NaN,https://github.com/rolling-scopes-school/a2c30...,2020-08-01 20:29:38.239+00,10735,[],a2+
10467,12819,2020-02-17 16:41:16.414614,2020-10-13 21:00:01.563666,t,Course score is too low,f,False,NaN,NaN,19,...,NaN,NaN,f,2020-02-17 16:41:16.412+00,2020-05-28 13:54:20.092+00,NaN,NaN,10404,[],NaN
10468,12707,2020-02-17 16:28:54.278309,2020-10-13 21:00:01.563666,t,Course score is too low,f,False,NaN,NaN,19,...,NaN,NaN,f,2020-02-17 16:28:54.276+00,2020-05-28 13:54:20.092+00,NaN,NaN,9021,[],NaN
10469,12863,2020-02-17 16:53:34.086048,2020-10-13 21:00:01.563666,t,Course score is too low,f,False,NaN,NaN,19,...,NaN,NaN,f,2020-02-17 16:53:34.081+00,2020-05-28 13:54:20.092+00,NaN,NaN,10408,[],NaN
10470,12852,2020-02-17 16:50:45.512138,2020-10-13 21:00:01.563666,t,Course score is too low,f,False,NaN,NaN,19,...,NaN,NaN,f,2020-02-17 16:50:45.509+00,2020-05-28 13:54:20.092+00,NaN,NaN,4893,[],NaN

In [8]:
train = train.replace(['f'], 0)
train = train.replace(['t'], 1)
train = train.replace([False], 0)
train = train.replace([True], 1)
train['repository'] = train['repository'].replace(train['repository'].value_counts().index, 1)
train['repository'] = train['repository'].replace(np.nan, 0)
train['mentorId'] = train['mentorId'].replace(train['mentorId'].value_counts().index, 1)
train['mentorId'] = train['mentorId'].replace(np.nan, 0)
train['educationHistory'] = train['educationHistory'].replace(['[]','[{"graduationYear":null,"faculty":null,"university":null}]','[{}]'], 0)
train['educationHistory'] = train['educationHistory'].replace(train['educationHistory'].value_counts().index[1:], 1)
train['englishLevel'] = train['englishLevel'].replace(['c2','Advanced'], 6)
train['englishLevel'] = train['englishLevel'].replace(['c1','C1','c1+','C1 (IELTS Academic)'], 5)
train['englishLevel'] = train['englishLevel'].replace(['b2','b2+','B2','upper-intermediate','B2+','up-intermediate'], 4)
train['englishLevel'] = train['englishLevel'].replace(['b1','b1+','B1','B1+','b1-b2','Intermediate','intermediate','B1-B2','В1','B1 (Средний)','intermediate(B1)','upper intermediate B1-B2','Intermediate'], 3)
train['englishLevel'] = train['englishLevel'].replace(['a2','a2+','A2','A2+','Pre-Intermediate','Pre-intermediate','A2-B1','pre-intermediate','Pre-intermediate (CEFR A2)','А2','A2+ (Streemline certificate 27.12.2019)','A2 - Pre-Intermediate','PRE-Intermediate','pre-intermedia'], 2)
train['englishLevel'] = train['englishLevel'].replace(['a1','A1','A1 (Elementary)','a1+','Elementary'], 1)
train['englishLevel'] = train['englishLevel'].replace(['a0','easy','A+','A0','beginer','Beginner','на уровне чтения','Native',np.nan], 0)
train['englishLevel'] = train['englishLevel'].replace(train['englishLevel'].value_counts()[7:].index, 0)

In [9]:
train = train.drop(['preferedMentorGithubId','cvUrl','hiredById','hiredByName','repositoryLastActivityDate','readyFullTime','courseCompleted','createdDate','updatedDate','expellingReason','startDate','endDate'],axis=1)
train

,studentId,isExpelled,isTopPerformer,courseId,userId,mentorId,isFailed,repository,idUser,educationHistory,englishLevel
0,5740,1,1,11,4467,1.0,0,1.0,4467,0,0
1,6956,1,1,11,5580,1.0,0,1.0,5580,0,0
2,11616,0,0,16,9557,0.0,0,0.0,9557,0,0
3,11773,0,0,16,9627,0.0,0,0.0,9627,0,3
4,6724,1,1,11,5390,1.0,0,1.0,5390,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10466,13213,0,1,19,10735,1.0,0,1.0,10735,0,2
10467,12819,1,0,19,10404,0.0,0,0.0,10404,0,0
10468,12707,1,0,19,9021,0.0,0,0.0,9021,0,0
10469,12863,1,0,19,10408,0.0,0,0.0,10408,0,0
10470,12852,1,0,19,4893,0.0,0,0.0,4893,0,0

In [10]:
test = test.replace(['f'], 0)
test = test.replace(['t'], 1)
test = test.replace([False], 0)
test = test.replace([True], 1)
test['repository'] = test['repository'].replace(test['repository'].value_counts().index, 1)
test['repository'] = test['repository'].replace(np.nan, 0)
test['mentorId'] = test['mentorId'].replace(test['mentorId'].value_counts().index, 1)
test['mentorId'] = test['mentorId'].replace(np.nan, 0)
test['educationHistory'] = test['educationHistory'].replace(['[]','[{"graduationYear":null,"faculty":null,"university":null}]','[{}]'], 0)
test['educationHistory'] = test['educationHistory'].replace(test['educationHistory'].value_counts().index[1:], 1)
test['englishLevel'] = test['englishLevel'].replace(['c2','Advanced'], 6)
test['englishLevel'] = test['englishLevel'].replace(['c1','C1','c1+','C1 (IELTS Academic)'], 5)
test['englishLevel'] = test['englishLevel'].replace(['b2','b2+','B2','upper-intermediate','B2+','up-intermediate'], 4)
test['englishLevel'] = test['englishLevel'].replace(['b1','b1+','B1','B1+','b1-b2','Intermediate','intermediate','B1-B2','В1','B1 (Средний)','intermediate(B1)','upper intermediate B1-B2','Intermediate'], 3)
test['englishLevel'] = test['englishLevel'].replace(['a2','a2+','A2','A2+','Pre-Intermediate','Pre-intermediate','A2-B1','pre-intermediate','Pre-intermediate (CEFR A2)','А2','A2+ (Streemline certificate 27.12.2019)','A2 - Pre-Intermediate','PRE-Intermediate','pre-intermedia'], 2)
test['englishLevel'] = test['englishLevel'].replace(['a1','A1','A1 (Elementary)','a1+','Elementary'], 1)
test['englishLevel'] = test['englishLevel'].replace(['a0','easy','A+','A0','beginer','Beginner','на уровне чтения','Native',np.nan], 0)
test['englishLevel'] = test['englishLevel'].replace(test['englishLevel'].value_counts()[7:].index, 0)

In [11]:
test = test.drop(['preferedMentorGithubId','cvUrl','hiredById','hiredByName','repositoryLastActivityDate','readyFullTime','courseCompleted','createdDate','updatedDate','expellingReason','startDate','endDate'],axis=1)
test

,studentId,isExpelled,courseId,userId,mentorId,isFailed,repository,idUser,educationHistory,englishLevel
0,11450,0,16,4546,0.0,0,0.0,4546,0,0
1,7855,0,11,6352,0.0,0,0.0,6352,0,0
2,12753,0,19,10322,0.0,0,0.0,10322,0,0
3,14717,0,28,12002,0.0,0,0.0,12002,0,2
4,7455,0,11,6008,1.0,0,1.0,6008,0,0
...,...,...,...,...,...,...,...,...,...,...
2986,13278,0,19,10790,0.0,0,0.0,10790,0,0
2987,14984,0,29,12064,0.0,0,0.0,12064,0,0
2988,14557,0,29,8291,0.0,0,0.0,8291,0,4
2989,15249,0,29,12202,0.0,0,0.0,12202,0,0
2990,15012,0,29,12083,0.0,0,0.0,12083,0,6

In [12]:
task = task[['taskId','courseTaskId','maxScore','scoreWeight','courseId']]
task

     taskId  courseTaskId  maxScore  scoreWeight  courseId
0       413           296      40.0          1.0        12
1       253           292     100.0          1.0        12
2       410           288     120.0          1.0        12
3       407           285     100.0          0.8        12
4       230           289     150.0          1.0        12
..      ...           ...       ...          ...       ...
271     489           418     100.0          1.0        21
272     492           422     200.0          1.0        21
273     504           437     100.0          1.0        21
274     505           438     100.0          1.0        21
275     503           436     100.0          1.0        21

[276 rows x 5 columns]

In [13]:
#task_res = task_res.drop_duplicates(subset=['studentId','courseTaskId'])
task_res = task_res[['score','studentId','courseTaskId']]
for i in task[task['maxScore'].isnull()]['courseTaskId'].values:
    task.loc[task['courseTaskId']==i,'maxScore']=task_res[task_res['courseTaskId']==i]['score'].max()
task_res

C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)
C:\Users\BogAk\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       score  studentId  courseTaskId
0        100       7266           300
1         41       7929           313
2        100       6134           308
3        100       5882           305
4        100       8247           305
...      ...        ...           ...
94257      0      14467           509
94258     68      14457           509
94259     75      14495           509
94260    170      14444           483
94261    158      14506           483

[94262 rows x 3 columns]

In [14]:
scores = {}
max_scor_loc = {}
for i in task_res['studentId'].value_counts().index:
    for o in task_res[task_res['studentId']==i]['courseTaskId'].value_counts().index:
        if i in scores:
            scores[i]=scores[i]+task_res[(task_res['studentId']==i) & (task_res['courseTaskId']==o)]['score'].mean()*task[task['courseTaskId']==o]['scoreWeight'].sum()
            max_scor_loc[i]=max_scor_loc[i]+task[task['courseTaskId']==o]['maxScore'].sum()*task[task['courseTaskId']==o]['scoreWeight'].sum()
        else:
            scores[i]=task_res[(task_res['studentId']==i) & (task_res['courseTaskId']==o)]['score'].mean()*task[task['courseTaskId']==o]['scoreWeight'].sum()
            max_scor_loc[i]=task[task['courseTaskId']==o]['maxScore'].sum()*task[task['courseTaskId']==o]['scoreWeight'].sum()
        #scores[2].append(task_res[(task_res['studentId']==i) & (task_res['courseTaskId']==o)]['score'].sum())

In [15]:
max_scor={}
for i in task['courseTaskId'].value_counts().index:
    c=task[task['courseTaskId']==i]['courseId'].sum()
    if c in max_scor:
        max_scor[c] = max_scor[c]+task[task['courseTaskId']==i]['maxScore'].sum()*task[task['courseTaskId']==i]['scoreWeight'].sum()
    else:
        max_scor[c] = task[task['courseTaskId']==i]['maxScore'].sum()*task[task['courseTaskId']==i]['scoreWeight'].sum()

In [16]:
train['score']=0
for i in train['studentId']:
    if i in scores:
        train.loc[train['studentId']==i,'score']=scores[i]/max_scor[train[train['studentId']==i]['courseId'].sum()]
    else:
        train.loc[train['studentId']==i,'score']=0
test['score']=0
for i in test['studentId']:
    if i in scores:
        test.loc[test['studentId']==i,'score']=scores[i]/max_scor[test[test['studentId']==i]['courseId'].sum()]
    else:
        test.loc[test['studentId']==i,'score']=0

In [17]:
train['score_loc']=0
for i in train['studentId']:
    if i in scores:
        train.loc[train['studentId']==i,'score_loc']=scores[i]/max_scor_loc[i]
    else:
        train.loc[train['studentId']==i,'score_loc']=0
test['score_loc']=0
for i in test['studentId']:
    if i in scores:
        test.loc[test['studentId']==i,'score_loc']=scores[i]/max_scor_loc[i]
    else:
        test.loc[test['studentId']==i,'score_loc']=0

In [18]:
train.loc[train['score_loc']>1,'score_loc']=1
test.loc[test['score_loc']>1,'score_loc']=1

In [19]:
train.isnull().sum()

studentId           0
isExpelled          0
isTopPerformer      0
courseId            0
userId              0
mentorId            0
isFailed            0
repository          0
idUser              0
educationHistory    0
englishLevel        0
score               0
score_loc           0
dtype: int64

In [20]:
test.isnull().sum()

studentId           0
isExpelled          0
courseId            0
userId              0
mentorId            0
isFailed            0
repository          0
idUser              0
educationHistory    0
englishLevel        0
score               0
score_loc           0
dtype: int64

In [21]:
for i in course['courseId'].values:
    #x = np.asarray(train[train['courseId']==i]['score'])
    #if len(x)>1:
        #train.loc[train['courseId']==i,'score']=np.divide(np.subtract(x,x.min()),(x.max()-x.min()))
    if i < 28:
        train.loc[train['courseId']==i,'score']=MinMaxScaler().fit_transform(train[train['courseId']==i][['score']])
    #x = np.asarray(test[test['courseId']==i]['score'])
    #test.loc[test['courseId']==i,'score']=np.divide(np.subtract(x,x.min()),(x.max()-x.min()))
    #print(len(MinMaxScaler().fit_transform(train[train['courseId']==i][['score']])),len(train[train['courseId']==i][['score']]),len(test.loc[test['courseId']==i,'score']))
    test.loc[test['courseId']==i,'score']=MinMaxScaler().fit_transform(test[test['courseId']==i][['score']])

In [22]:
for i in course['courseId'].values:
    #x = np.asarray(train[train['courseId']==i]['score_loc'])
    #if len(x)>1:
        #train.loc[train['courseId']==i,'score_loc']=np.divide(np.subtract(x,x.min()),(x.max()-x.min()))
    if i < 28:
        train.loc[train['courseId']==i,'score']=MinMaxScaler().fit_transform(train[train['courseId']==i][['score']])
    #x = np.asarray(test[test['courseId']==i]['score'])
    #test.loc[test['courseId']==i,'score_loc']=np.divide(np.subtract(x,x.min()),(x.max()-x.min()))
    test.loc[test['courseId']==i,'score']=MinMaxScaler().fit_transform(test[test['courseId']==i][['score']])

In [23]:
train = train.drop(['userId','idUser','courseId'],axis=1)
train

,studentId,isExpelled,isTopPerformer,mentorId,isFailed,repository,educationHistory,englishLevel,score,score_loc
0,5740,1,1,1.0,0,1.0,0,0,0.103682,0.636120
1,6956,1,1,1.0,0,1.0,0,0,0.067088,0.454133
2,11616,0,0,0.0,0,0.0,0,0,0.000000,0.000000
3,11773,0,0,0.0,0,0.0,0,3,0.000000,0.000000
4,6724,1,1,1.0,0,1.0,0,0,0.267447,0.607955
...,...,...,...,...,...,...,...,...,...,...
10466,13213,0,1,1.0,0,1.0,0,2,0.642241,0.140861
10467,12819,1,0,0.0,0,0.0,0,0,0.000000,0.000000
10468,12707,1,0,0.0,0,0.0,0,0,0.000000,0.000000
10469,12863,1,0,0.0,0,0.0,0,0,0.009579,1.000000
10470,12852,1,0,0.0,0,0.0,0,0,0.009579,1.000000

In [24]:
test = test.drop(['userId','idUser','courseId'],axis=1)
test

,studentId,isExpelled,mentorId,isFailed,repository,educationHistory,englishLevel,score,score_loc
0,11450,0,0.0,0,0.0,0,0,0.800220,1.000000
1,7855,0,0.0,0,0.0,0,0,0.076077,0.695705
2,12753,0,0.0,0,0.0,0,0,0.038610,1.000000
3,14717,0,0.0,0,0.0,0,2,0.000000,0.000000
4,7455,0,1.0,0,1.0,0,0,0.865639,0.783191
...,...,...,...,...,...,...,...,...,...
2986,13278,0,0.0,0,0.0,0,0,0.000000,0.000000
2987,14984,0,0.0,0,0.0,0,0,0.000000,0.000000
2988,14557,0,0.0,0,0.0,0,4,0.000000,0.000000
2989,15249,0,0.0,0,0.0,0,0,0.000000,0.000000
2990,15012,0,0.0,0,0.0,0,6,0.000000,0.000000

In [25]:
X = train.drop(['studentId','isTopPerformer'],axis=1)
y = train['isTopPerformer']
X_out = test.drop(['studentId'],axis=1)
inde =test['studentId'].values

In [26]:
def save(y,ind,name='out.csv'):
    out=[]
    for i in range(len(y)):
        if y[i]==1:
            out.append(True)
        else:
            out.append(False)
    result = pd.DataFrame({'studentId': ind, 'isTopPerformer': out})
    result.to_csv(name, index=False)
    return 'Done'

In [27]:
Data=[]
Data

[]

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [30]:
lr=LogisticRegression(solver='liblinear', penalty='l1')
lr.fit(X_train, y_train.values)
pred=lr.predict(X_test)
#Data.append(lr.predict(X))
Data.append(lr.predict(X))

In [31]:
accuracy_score(y_test.values,pred)

0.9373010821133037

In [32]:
f1_score(y_test.values,pred)

0.8774113254511513

In [33]:
lr.fit(X, y.values)
pred=lr.predict(X_out)
save(pred,inde,'LogisticRegression.csv')

'Done'

In [34]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, y_train.values)
pred=knn.predict(X_test)
Data.append(knn.predict(X))

In [36]:
accuracy_score(y_test.values,pred)

0.950986632718014

In [37]:
f1_score(y_test.values,pred)

0.9062119366626065

In [38]:
knn.fit(X, y.values)
pred=knn.predict(X_out)
save(pred,inde,'KNeighborsClassifier.csv')

'Done'

In [39]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV

In [40]:
model_params = {'n_estimators': range(1,500,1), 'criterion': ['gini', 'entropy'], 'max_depth': range(1, 50,1)}
rand = RandomizedSearchCV(RandomForestClassifier(random_state=42), param_distributions=model_params, n_iter=100, cv=5, scoring='accuracy', n_jobs=2, verbose=1, random_state=42)
rand.fit(X_train, y_train.values)
pred=rand.predict(X_test)
Data.append(rand.predict(X))

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [41]:
accuracy_score(y_test.values,pred)

0.973901973265436

In [42]:
f1_score(y_test.values,pred)

0.9501216545012166

In [43]:
rand.fit(X, y.values)
pred=rand.predict(X_out)
save(pred,inde,'RandomForestClassifier.csv')

Fitting 5 folds for each of 100 candidates, totalling 500 fits

'Done'

In [44]:
Data

[array([1, 1, 0, ..., 0, 0, 0], dtype=int64),
 array([1, 1, 0, ..., 0, 0, 0], dtype=int64),
 array([1, 1, 0, ..., 0, 0, 0], dtype=int64)]

In [45]:
Data=np.array(Data)
Data

array([[1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
Data_train, Data_test, y_train, y_test = train_test_split(Data.T, y, test_size=0.3, random_state=42)

In [47]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(Data_train, y_train.values)
pred=knn.predict(Data_test)

In [48]:
accuracy_score(y_test.values,pred)

0.973901973265436

In [49]:
f1_score(y_test.values,pred)

0.9501216545012166

In [50]:
model_params = {'n_estimators': range(1,500,1), 'criterion': ['gini', 'entropy'], 'max_depth': range(1, 50,1)}
rand = RandomizedSearchCV(RandomForestClassifier(random_state=42), param_distributions=model_params, n_iter=100, cv=5, scoring='accuracy', n_jobs=2, verbose=1, random_state=42)
rand.fit(Data_train, y_train.values)
pred=rand.predict(Data_test)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [51]:
accuracy_score(y_test.values,pred)

0.973901973265436

In [52]:
f1_score(y_test.values,pred)

0.9501216545012166